<div class="container p-5 border border-light rounded-lg">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-4">{{ form_row(form.name) }}</div>
        <div class="col-lg-4">{{ form_row(form.category) }}</div>
        <div class="col-lg-4">{{ form_row(form.skillLevel) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.description) }}</div>
    </div>
    <div class="row">
        <div class="col-lg-4">{{ form_row(form.yarns) }}</div>
        <div class="col-lg-4">{{ form_row(form.pdf) }}</div>
        <div class="col-lg-4">{{ form_row(form.images) }}</div>
    </div>
    {{ form_widget(form) }}

    {# if route = "pattern_edit" => display images #}
    {%  if app.request.attributes.get('_route') == 'pattern_edit' %}
        <h2>Images</h2>
        <div class="container">
            <div class="row">
                {% for image in pattern.images %}
                    <div class="col-6 py-2">
                        <img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image" width="150">
                        <a href="{{ path('pattern_delete_image', {'id': image.id}) }}"
                           data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">
                            <img src="{{ asset('uploads/icons/delete.png') }}" alt="delete_icon" width="25">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
    <button class="btn btn-success text-uppercase mt-5">{{ button_label|default('enregister') }}</button>
    {{ form_end(form) }}
</div>

