{% extends 'base.html.twig' %}

{% block title %}Editer {{ pattern.category.name }} {{ pattern.name }}{% endblock %}

{% block body %}
    <h1>Editer {{ pattern.category.name }} {{ pattern.name }}</h1>

    {{ include('pattern/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
