{% extends 'base.html.twig' %}

{% block title %}Pattern index{% endblock %}

{% block body %}
    <h1>Pattern index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pattern in patterns %}
            <tr>
                <td>{{ pattern.id }}</td>
                <td>{{ pattern.name }}</td>
                <td>{{ pattern.description }}</td>
                <td>{{ pattern.difficulty }}</td>
                <td>{{ pattern.createdAt ? pattern.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pattern_show', {'id': pattern.id}) }}">show</a>
                    <a href="{{ path('pattern_edit', {'id': pattern.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pattern_new') }}">Create new</a>
{% endblock %}
