{% extends 'base.html.twig' %}

{% block title %}Patron {{ pattern.category.name }} {{ pattern.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-6">
                <div class="card">
                {% for image in pattern.images %}
                    <img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image" class="d-block">
                {% endfor %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ pattern.category.name }} {{ pattern.name }}</h3>
                        <p class="card-text">
                            {{ pattern.description }}
                        </p>
                            <a href="{{ asset('uploads/pdf/' ~ pattern.pdfFilename) }}" target="_blank">
                                <img src="{{ asset('uploads/icons/pdf.png') }}" alt="pdf_icon" width="50">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
