{% extends 'base.html.twig' %}

{% block title %}Pattern{% endblock %}

{% block body %}
    <h1>{{ pattern.category.name }} {{ pattern.name }}</h1>
    <ul>
        <li>{{ pattern.description }}</li>
        <li>Difficulty : {{ pattern.difficulty }}</li>
        <li><a href="{{ asset('uploads/pdf/' ~ pattern.pdfFilename) }}" target="_blank">Patron (PDF)</a>
        </li>
    </ul>
    {% for yarn in pattern.yarns %}
        <p>{{ yarn.name }}</p>
    {% endfor %}
{% endblock %}
